body{
    background: linear-gradient(to right, rgb(167, 232, 243), rgb(177, 128, 166));
}

/*Barra de navegacion*/
nav{
    background:#f7a5d7;
    padding: 10px 50px;
    border-bottom: 4px solid #f57272 ;
    text-align: right   ;
}
nav a{
    text-decoration: none;
    padding-right:  20px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 200;
    text-shadow: 2px 2px #ffffff;
    color:#000000;
    /*display: block; */ 
}
nav a:hover{
    color: #000000;
    text-shadow: 1px 1px #fefefe;
    background: #5390D9;

}


/*contenido main*/
main img{
    width: 50%;
}
article{
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
}

.image-container {
    text-align: center;
    /* Centra horizontalmente la imagen */
    margin-bottom: 20px;
    /* Espacio entre la imagen y los otros campos */
}

.image-container img {
    border-radius: 50%;
    /* Da forma de círculo a la imagen */
    width: 100px;
    /* Ancho deseado */
    height: 100px;
    /* Alto deseado */
} 