@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');


table{
  background-color: white;
  text-align: center;
  width: 20%;
  border-collapse: collapse;
  margin: 5rem 5rem;

  border-radius:10px;
}

th, td{
  padding: 6px;
  
}

thead{
  background-color: #246355;
  border-bottom: solid 5px #0F362D;
  color: white;

  border-radius: 10px;
}


tr:nth-child(even){
  background-color: #ddd;
}

tr:hover td{
  background-color: #369681;
  color: white;
  
}


.navigation {
  position: relative;
  font-size: 1.5em;
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin-left: 100vh;
  
}

.navigation :hover::after{
  transform-origin: left;
  transform: scaleX(1);
}

.navigation .btnBack{
  width: 8rem;
  height: 3rem;
  background: transparent;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  font-weight: 500;
  margin-left: 40px;
  transition: .5s;
}

.navigation .btnBack:hover{
  background: #fff;
  color: #162938;
}

.icono{
    width: 5px;

}

